.cardholder {
    width: 100vw;
    text-align: center;
    background-color: dimgrey;
    color: gold;
    
  }
  
  .cardimage{
      max-width: 90vw;
      width: 600px;
      height: 35vh;
      align-self: center;
  }