.gallery{
color: black;
text-align: center;

}

.category-row{
    width: 90%;
    height: fit-content;
    margin: auto;
   background-color: wheat;
   
   
}
.fade{
    min-height: 60vh;
    height: auto;
    width: inherit;
    max-width: 60vw;
}
.categorybutton{
    background-color: black;
    color: wheat;
}
.image{
    height: inherit;
    width: inherit;
    max-height: 80vh;
    max-width: 60vw;
}
.all{
    width: inherit;
    height: inherit;
    max-height: 80vh;
    max-width: 60vw;
    margin: auto;
}
@media screen and (max-width: 600px) {
    .category-row{
        width: 98%;
        height: fit-content;
        margin: auto;
       background-color: wheat;
       
       
    }
}