.root{
    position: sticky;
    left: 0;
    top: 0;
    width: max-content;
    min-width: 20%;    
}
.contain{
    background-color: black;
    min-height: 100vh;
    height: fit-content;
    padding-left: 5%;
    overflow: hidden;
    border-right: 1px solid goldenrod;  
    visibility: visible;
}    
.testbutton{
    background-color: black;
    color: goldenrod;
    border: 0px;
}
.menubutton{
    position: fixed;
    z-index: 1;
    top: auto;
    left: auto;
    background-color: black;
    color: wheat;
    width: max-content;
    min-width: 5%;  
    border: 0ch;    
}
.logo {
    height: 90px;
    width: 110px;
}

.root a{color:goldenrod}
.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 20px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 40px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    
}
@media screen and (max-width: 600px) {
    .whatsapp {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 10px;
        right: 20px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 40px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        
    }  
    .root{
        position: sticky;
        left: 0;
        top: 0;
        width: max-content;
        min-width: 60%; 
         
    }
    .menubutton{        
        width: max-content;
        min-width: 10%;   
    }
    
}
@media only screen and (min-width: 1024px) {
}
