.product{
    max-width: 100%;
    background-color: gainsboro;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .product{
        max-width: 100%;
        background-color: gainsboro;
        align-items: center;
        padding-top: 10%;
    }
}