.home {
   margin-top: 10vh;
    width: 100vw;
    resize: both;
    color: black;

}
.bg {
    width: 100vw;
    height: 100vh;
    background: no-repeat center fixed;     
    background: size 100vw;
    resize: both;
}

.logo {
    height: 90px;
    width: 110px;
}
.image {
    height: 200px;
    width: 500px;
}
.icon-f {
    background-color: blue;
    border-radius: 50px;
    font-size: larger;
    resize: both;
}
.icon-w {
    background-color: green;
    border-radius: 50px;
    font-size: larger;
}
.icon-t {
    background-color: skyblue;
    border-radius: 50px;
    font-size: larger;

}
.icon-i {
    background-color: orange;
    border-radius: 50px;
    font-size: larger;
}
.icon-l {
    background-color: skyblue;
    border-radius: 50px;
    font-size: larger;
}
.icon-m {
    background-color: red;
    border-radius: 50px;
    font-size: larger;
}
.marquee {
    background-color: black;
    color: gold;
}
.form {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    right: 0px;
    display: flex;
}
    

