.root{
    position: sticky;
    background-color: black;
    left: 0;
    top: 0;
    width: max-content;
    min-width: 20%;
    visibility: visible;
    
    
}
.contain{
    background-color: black;
    min-height: 100vh;
    height: fit-content;
    padding-left: 5%;

}
.testbutton{
    background-color: black;
    color: gold;
    border: 0px;
}
.menubutton{

    width: max-content;
    min-width: 20%;
}

a{color:gold}
.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 40px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    
}
@media screen and (max-width: 600px) {
        .whatsapp {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
    
}
@media only screen and (min-width: 1024px) {
}
